<div class="container" style="padding: 10px;">
    <h1>Task info taken via API call</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Task name</th>
                <th>Col 2</th>
                <th>Col 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>..</td>
                <td>..</td>
                <td>..</td>
            </tr>
            <tr>
                <td>..</td>
                <td>

                    <table class="table table-nostriped">
                        <tr>
                            <td>..</td>
                            <td>..</td>
                        </tr>
                        <tr>
                            <td>..</td>
                            <td>..</td>
                        </tr>
                        <tr>
                            <td>..</td>
                            <td>..</td>
                        </tr>
                    </table>

                </td>
                <td>..</td>
            </tr>
            <tr>
                <td>..</td>
                <td>..</td>
                <td>..</td>
            </tr>
            <tr>
                <td>..</td>
                <td>..</td>
                <td>..</td>
            </tr>
            <tr>
                <td>..</td>
                <td>..</td>
                <td>..</td>
            </tr>
        </tbody>
    </table>
    <p><%= @task_info%></p>
</div>
