@import "bootstrap";
@import "font-awesome";


.container {
  max-width: 2000px !important;
  padding: 20px !important;
}

.flash {
  padding: 5px 0;
  color: white;
  background: #f08080;
  text-align: center;
  position: absolute;
  top: 40px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

input[type=url] {
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit] {
  padding:5px 15px;
  background:#C4D3A5;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.navbar-custom {
  background-color: #EAE6BF;
}
.btn-custom-success{
  background-color: #C4D3A5;
}
.btn-custom-danger{
  background-color: #E4C5CD;
}
.btn-custom-warning{
  background-color: #F4D1B5;
}
/* Popup container */
@for $i from 1 through 7 {
  .popup-#{$i} {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* The actual popup */
  .popup-#{$i} .popuptext-#{$i} {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
  .popup-#{$i} .popuptext-#{$i}::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup-#{$i} .show-#{$i} {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
}
