<div class="container" style="padding: 10px;">
     <div class="pagetitle">
      <h1>Daily report</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Report</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

     <div class="card">
        <div class="card-body">
            <h5 class="card-title">Self scoring</h5>
            <p>Purpose of this survey is to track the status of each activity and distribute tasks according to the needs of the team. No need to hesitate to ask help if you need, also help out collegues if you have spare time, let's manage our team well altogether!</p>
            <div class="row mb-5">
                <label class="col-sm-2 col-form-label">Statuses</label>
                <div class="col-sm-10">
                <div>
                    <label for="customRange1" class="form-label">TaskA</label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange1">
                </div>
                <div>
                    <label for="customRange2" class="form-label">Need help for TaskA</label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange2">
                </div>
                </br>
                <div>
                    <label for="customRange3" class="form-label">TaskB</label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                </div>
                <div>
                    <label for="customRange4" class="form-label">Need help for TaskB</label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange4">
                </div>
                </br>
                <div>
                    <label for="customRange5" class="form-label">TaskC</label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange5">
                </div>
                <div>
                    <label for="customRange6" class="form-label">Need help for TaskC</label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange6">
                </div>
                </br>
                <div>
                    <label for="customRange7" class="form-label">Willing to help others</label>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                    </div>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange7">
                </div>
                </div>
            </div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-custom-success">Submit Form</button>
            </div>
        </div>
    </div>

</div>
